@import '../../assets/styles/variable';
.fhlbny-topbar {
    .icon-bell {
        cursor: pointer;
        -webkit-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        color: $gray-600;
        &:hover,
        &.active {
            background-color: $gray-400;
        }
        .badge-danger {
            position: absolute;
            top: 5px;
            left: 10px;
            font-size: 10px;
            border-radius: 50%;
            min-width: 15px;
            min-height: 15px;
        }
    }
}