<ngb-alert [type]="'danger'" (close)="showError=false" *ngIf="showError">    
    <h4 *ngIf="message.title;else errorTitle">{{message.title}}</h4>
    <ng-template #errorTitle><h4>Error</h4></ng-template>
    <p *ngIf="message.timestamp">
        <span class="font-weight-bold"> Time stamp:</span> {{message.timestamp}}
    </p>
    <p>
        <span class="font-weight-bold"> Status:</span> {{message.status}}
    </p>
    <p>
        <span class="font-weight-bold"> Path:</span> {{message.path}}
    </p>
    <p *ngIf="message.error">
        <span class="font-weight-bold"> Error:</span> {{message.error}}
    </p>
    <p>
        <span class="font-weight-bold"> Message:</span> {{message.message}}
    </p>
    <ul *ngIf="message.fieldErrors.length>0">
        <li *ngFor="let fieldError of message.fieldErrors">{{'Field: '+fieldError.objectName+', Message: '+fieldError.field}}</li>
    </ul>
</ngb-alert>