<div class="d-flex align-items-center justify-content-center mt-4">
    <div class="col-3">
        <div class="card p-4 shadow-sm">
            <div class="text-center">
                <h1 class="display-2 font-weight-bold">{{currentURL!='/error'?'403':'404'}}</h1>
                <h3 class="font-weight-bold">{{currentURL!='/error'?'Access Denied':'Page not found.'}}</h3>
                <p *ngIf="currentURL!='/error'">You dont have permission to access this page.</p>
                <p *ngIf="currentURL=='/error'">The page your are looking for doesn't exist. </p>
                <p>Go to
                    <a [routerLink]="['/']">Home page</a>
                </p>
            </div>
        </div>
    </div>
</div>