.fhlbny-spinner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,.60);
    color: #ffffff;
    z-index: 10;
    span {
        font-size: 48px;
    }
}