<fhlbny-panel headerTitle="Update Pending Repurchases Redemptions">
  <fhlbny-form [formGroup]="demoForm" [formDescription]="formDescription" [formType]="formType" (buttonClick)="buttonClicked($event)"></fhlbny-form>
</fhlbny-panel>