<div class="form-group row">
    <label for="{{label}}" class="col-12 col-sm-3 col-form-label text-sm-right">
        {{label}}
    </label>
    <div class="col-12 col-lg-6 col-sm-8">
        <select [compareWith]="compareFn" #selectInput id="{{label}}" class="form-control form-control-sm" [formControl]="control">
            <option value="">Select {{label}}</option>
            <option *ngFor="let data of data" [ngValue]="data">{{data.value}}</option>
        </select>
        <div class="invalid-feedback d-flex" *ngIf="isErrorMessageShown">
            {{currentErrorMessage}}
        </div>
    </div>
</div>