<fhlbny-topbar [appName]="appName" [mainMenuList]="mainMenuList" (userLoggedOut)="onUserLoggedOut($event)" *ngIf="showTopbar"></fhlbny-topbar>
<fhlbny-toaster></fhlbny-toaster>
<fhlbny-error-alert></fhlbny-error-alert>
<router-outlet></router-outlet>
<!-- <fhlbny-breadcrumb></fhlbny-breadcrumb> -->
<fhlbny-spinner></fhlbny-spinner>

