@import '../../assets/styles/variable';
// to  make notification pane scrollable
.fhlbny-notification-pane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: $white;
    .list-group-container {
        position: absolute;
        top: 141px;
        right: 0;
        bottom: 0;
        left: 0;
        .list-group {
            overflow: auto;
            height: 100%;
            .list-group-item {
                background-color: $gray-100;
                &.item-read {
                    color: $gray-600 !important;
                    a,
                    .text-muted,
                    .text-warning {
                        color: $gray-600 !important;
                    }
                }
            }
        }
    }
}