<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item  dropdown mainMenu" *ngFor="let menu of menuList" ngbDropdown>
        <a class="nav-link"  id="{{menu.name}}_dropdown" ngbDropdownToggle>{{menu.name}}
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu>
            <li *ngFor="let subMenu of menu.subMenuList" class="dropdown-submenu dropright">
                <a class="dropdown-item"  *ngIf="subMenu.subMenuList == null" [routerLink]="subMenu.routerLink" routerLinkActive="active"
                    (click)="acivateMenu()">{{subMenu.name}}</a>
                <a class="dropdown-item  dropdown-toggle" *ngIf="subMenu.subMenuList != null ">{{subMenu.name}}</a>
                <ul class="dropdown-menu" *ngIf="subMenu.subMenuList != ''">
                    <li *ngFor="let innerSubMenu of subMenu.subMenuList">
                        <a class="dropdown-item" [routerLink]="innerSubMenu.routerLink">{{innerSubMenu.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>