<!--suppress XmlDuplicatedId -->
<form [formGroup]="form" (ngSubmit)="search()">
    <div class="form-group row">
        <div *ngFor="let field of filterFields ; trackBy: name" class="col-lg-3 col-md-4 col-sm-6">
            <label for="{{field.name}}" class="col-form-label font-weight-bold">
                {{field.label}}
            </label>

            <ng-container [ngSwitch]="field.inputType">
                <div *ngSwitchCase="'number'" class="input-group">
                    <input
                        id="{{field.name}}"
                        name="{{field.name}}"
                        class="form-control form-control-sm"
                        [class.is-invalid]="form.controls[field.name].errors && (form.controls[field.name].dirty || form.controls[field.name].touched)"
                        formControlName="{{field.name}}"
                        type="text" 
                        (keypress)="onlyNumeric($event)"
                        placeholder="{{field.placeholder ? field.placeholder : ''}}"
                    />
                    <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name }"></ng-container>
                </div>

                <div *ngSwitchCase="'select'" class="input-group">
                    <select
                        id="{{field.name}}"
                        name="{{field.name}}"
                        class="form-control form-control-sm"
                        [class.is-invalid]="form.controls[field.name].errors && (form.controls[field.name].dirty || form.controls[field.name].touched)"
                        formControlName="{{field.name}}"
                    >
                        <option [value]="null" selected>{{field.placeholder}}</option>
                        <option *ngFor="let possibleValue of field.possibleValues" [value]="possibleValue">{{possibleValue}}</option>
                    </select>
                    <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name }"></ng-container>
                </div>

                <div *ngSwitchCase="'date'" class="input-group">
                    <input
                        id="{{field.name}}"
                        name="{{field.name}}"
                        class="form-control form-control-sm"
                        [class.is-invalid]="form.controls[field.name].errors && (form.controls[field.name].dirty || form.controls[field.name].touched)"
                        placeholder="{{field.placeholder ? field.placeholder : 'yyyy-mm-dd'}}"
                        formControlName="{{field.name}}"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        (focus)="d.open()"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text btn btn-outline-secondary" (click)="d.toggle()">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                    <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name }"></ng-container>
                </div>

                <ng-container *ngSwitchCase="'dateBetween'">
                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <input
                                    name="{{field.name}}1"
                                    class="form-control form-control-sm"
                                    [class.is-invalid]="form.controls[field.name + '-from'].errors && (form.controls[field.name + '-from'].dirty || form.controls[field.name + '-from'].touched)"
                                    placeholder="{{field.placeholder ? field.placeholder : 'yyyy-mm-dd'}}"
                                    formControlName="{{field.name}}-from"
                                    ngbDatepicker
                                    #d1="ngbDatepicker"
                                    (focus)="d1.open(); d2.close()"
                                    [maxDate]="form.value[field.name + '-to']"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-outline-secondary" (click)="d1.toggle(); d2.close()">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name + '-from' }"></ng-container>
                            </div>
                        </div>
                        <div>
                            to
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input
                                    name="{{field.name}}2"
                                    class="form-control form-control-sm"
                                    [class.is-invalid]="form.controls[field.name + '-to'].errors && (form.controls[field.name + '-to'].dirty || form.controls[field.name + '-to'].touched)"
                                    placeholder="{{field.placeholder ? field.placeholder : 'yyyy-mm-dd'}}"
                                    formControlName="{{field.name}}-to"
                                    ngbDatepicker
                                    #d2="ngbDatepicker"
                                    (focus)="d2.open(); d1.close()"
                                    [minDate]="form.value[field.name + '-from']"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text btn btn-outline-secondary" (click)="d2.toggle(); d1.close()">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name + '-to' }"></ng-container>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div *ngSwitchDefault class="input-group">
                    <input
                        id="{{field.name}}"
                        name="{{field.name}}"
                        class="form-control form-control-sm"
                        [class.is-invalid]="form.controls[field.name].errors && (form.controls[field.name].dirty || form.controls[field.name].touched)"
                        formControlName="{{field.name}}"
                        type="text"
                        placeholder="{{field.placeholder ? field.placeholder : ''}}"
                    />
                    <ng-container [ngTemplateOutlet]="inputErrors" [ngTemplateOutletContext]="{ fieldName: field.name }"></ng-container>
                </div>
            </ng-container>

            <ng-template #inputErrors let-fieldName="fieldName">
                <div class="invalid-feedback" *ngIf="form.controls[fieldName].errors && (form.controls[fieldName].dirty || form.controls[fieldName].touched)">
                    <div *ngIf="form.controls[fieldName].errors.minlength">
                        {{field.label}} must be at least {{form.controls[fieldName].errors.minlength.requiredLength}} characters.
                    </div>
                    <div *ngIf="form.controls[fieldName].errors.maxlength">
                        {{field.label}} must be at most {{form.controls[fieldName].errors.maxlength.requiredLength}} characters.
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

    <div class="form-group row mb-0">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i> Search
            </button>
            <button class="btn btn-secondary" (click)="reset()">
                Reset
            </button>
        </div>
    </div>
</form>
