<div class="btn-group fhlbny-user-menu d-inline-block" ngbDropdown placement="bottom-right">
  <div id="dropdownBasic2" class="d-flex align-items-center dropdown-toggle" ngbDropdownToggle>
    <figure class="bg-light border rounded user-picture d-flex align-items-center justify-content-center m-0  mr-2" aria-haspopup="true"
      aria-expanded="false">
      <span class="fa fa-user" *ngIf="userImage == '' "></span>
      <img src="{{userImage}}" class="img-fluid" *ngIf="userImage != '' " alt="User Image" />
    </figure>
    <span class="d-none d-sm-block font-weight-bold" aria-haspopup="true" aria-expanded="false">
      {{userName}}
    </span>
    <img class="img-fluid d-none" />
  </div>
  <div class="dropdown-menu p-0 mt-3" ngbDropdownMenu aria-labelledby="dropdownBasic2">
    <a class="dropdown-item d-flex justify-content-between">
      <span>Environment </span>
      <span class="small font-weight-bold">{{ environment }}</span>
    </a>
    <a class="dropdown-item" (click)="open(editsignature); getSignature()">View Signature</a>
    <a class="dropdown-item" (click)="logout()">Logout</a>
  </div>


  <fhlbny-modal [headerTitle]="'Signature'" #editsignature>
    <div fhlbny-modal-body class="d-flex justify-content-center">
      <figure class="mr-4 mb-0 p-3 text-muted sign-viewer d-flex align-items-center justify-content-center">
        <img class="img-fluid p-3" *ngIf="image !== null" alt="Upload Signature" src="{{ image }}">
        <span class="align-self-center" *ngIf="image === null">Signature is not available.</span>
      </figure>
      <section>
        <div>
          <input id="signUpload" #sign class="d-none" type="file" (click)="sign.value=''" (change)="signatureChanged($event)" accept="image/*">
          <label title="Upload" for="signUpload" class="text-center border border-orange rounded-circle ml-2 cursor-pointer">
            <span class="fa fa-pencil p-2 text-orange"></span>
          </label>
        </div>
        <div class="delete-btn text-center border border-orange rounded-circle ml-2 cursor-pointer" [ngClass]="{'disable': !isSignatureAvailable }">
          <span class="fa fa-trash p-2 text-orange"  (click)=" close(editsignature); open(deletesignature);"></span>
        </div>
      </section>
    </div>
    <div fhlbny-modal-footer>
      <button type="button " class="btn btn-orange" [ngClass]="{'disable':disableUpload}" (click)="uploadSignature(); close(editsignature);">Upload</button>
    </div>
  </fhlbny-modal>

  <fhlbny-modal [headerTitle]="'Delete Signature'" #deletesignature>
    <div fhlbny-modal-body class="d-flex align-items-center">
      <div class="display-4 mx-3 ">
        <span class="fa fa-exclamation-triangle text-danger "></span>
      </div>
      <h5>
        Are you sure you want to delete ?
      </h5>
    </div>
    <div fhlbny-modal-footer>
      <button type="button " class="btn btn-orange " (click)="deleteSignature(); close(deletesignature)">Ok</button>
      <button type="button " class="btn btn-orange " (click)="close(deletesignature); open(editsignature);">Cancel</button>
    </div>
  </fhlbny-modal>

  <!-- <ng-template #editsignature>
    <div class="modal-header bg-primary text-white justify-content-between">
      <span>Signature</span>
      <span class="fa fa-times cursor-pointer" aria-label="Close" (click)="dismiss(); isSignatureAvailable = false;"></span>
    </div>
    <div class="modal-body p-3 d-flex justify-content-end align-items-start">
      <figure class="mx-4 p-3 text-muted sign-viewer d-flex">
        <img class="w-75" *ngIf="image !=''" alt="Upload Signature" src="{{ image }}">
        <span class="align-self-center" *ngIf="image ===''">Signature is not available.</span>
      </figure>
      <div>
        <input id="signUpload" #sign class="d-none" type="file" (click)="sign.value=''" (change)="signatureChanged($event)" accept="image/*">
        <label title="Upload" for="signUpload" class="text-center border border-orange rounded-circle ml-2 cursor-pointer">
          <span class="fa fa-pencil p-2 text-orange"></span>
        </label>
      </div>
      <div class="delete-btn text-center border border-orange rounded-circle ml-2 cursor-pointer">
        <span class="fa fa-trash p-2 text-orange" [ngClass]="{'disable': !isSignatureAvailable }" (click)=" dismiss(); open(deletesignature);"></span>
      </div>
    </div>
    <div class="modal-footer ">
      <button type="button " class="btn btn-orange" [ngClass]="{'disable':disableUpload}" (click)="uploadSignature(); dismiss();">Upload</button>
    </div>
  </ng-template> -->

  <!-- <ng-template #deletesignature>
    <div class="modal-header bg-primary text-white justify-content-between ">
      <span>Delete Signature</span>
      <span class="fa fa-times cursor-pointer" aria-label="Close " (click)="dismiss();open(editsignature); "></span>
    </div>
    <div class="modal-body p-3 d-flex justify-content-start align-items-center ">
      <div class="display-4 mx-3 ">
        <span class="fa fa-exclamation-triangle text-danger "></span>
      </div>
      <div>
        Are you sure you want to delete ?
      </div>
    </div>
    <div class="modal-footer ">
      <button type="button " class="btn btn-orange " (click)="deleteSignature(); dismiss()">Ok</button>
      <button type="button " class="btn btn-orange " (click)="close(); open(editsignature);">Cancel</button>
    </div>
  </ng-template> -->
</div>